{% extends "master.html" %}

{% block content %}
<!-- <div>
  <h1 id="timer">00:00:00</h1>
  <button class="btn btn-success fs-1" id="start">Start</button>
  <button id="stop" class="btn btn-danger fs-1">Stopp</button>
</div> -->
<!--
<script>
  let intervalId;
  let startTime;
  let elapsedTime = 0;

  const startTimer = () => {
    startTime = Date.now() - elapsedTime;
    intervalId = setInterval(() => {
      elapsedTime = Date.now() - startTime;
      document.getElementById("timer").innerHTML = formatTime(elapsedTime);
    }, 10);
  };

  const stopTimer = () => {
    clearInterval(intervalId);
  };

  const formatTime = (timeInMilliseconds) => {
    // const timeInSeconds = Math.floor(timeInMilliseconds / 1000);
    // const hours = Math.floor(timeInSeconds / 3600);
    // const minutes = Math.floor((timeInSeconds % 3600) / 60);
    // const seconds = Math.floor(timeInSeconds % 60);
    // const formattedHours = hours.toString().padStart(2, "0");
    // const formattedMinutes = minutes.toString().padStart(2, "0");
    // const formattedSeconds = seconds.toString().padStart(2, "0");
    var t = Date.parse(endtime) - Date.parse(new Date());
    var seconds = Math.floor((t / 1000) % 60);
    var minutes = Math.floor((t / 1000 / 60) % 60);
    var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
    var days = Math.floor(t / (1000 * 60 * 60 * 24));
    return { 'total': t, 'days': days, 'hours': hours, 'minutes': minutes, 'seconds': seconds };
  };

  document.getElementById("start").addEventListener("click", startTimer);
  document.getElementById("stop").addEventListener("click", stopTimer);

</script>
-->
<center>
  <p class="fs-3 text-danger">BREAK TIMER</p>
  <div style="font-size:38px" id="clockdiv2">00:00</div>
  <!-- <button class="btn btn-info fs-1" id="timeSet">Set Time</button> -->
  <button class="btn btn-success fs-1" id="start2">Start</button>
  <button id="stop2" class="btn btn-warning fs-1">Pause</button>
  <button class="btn btn-danger fs-1" id="reset">Reset</button>

</center>
<script>

  var time_in_minutes2 = prompt("How many minutes do you wish for your break to be? It needs to be a whole number");
  var convertNum = +time_in_minutes2;
  if ((isNaN(time_in_minutes2)) || (time_in_minutes2 == "'")) {
    alert("Input is not a number");
  }


  var current_time2 = Date.parse(new Date());
  var deadline2 = new Date(current_time2 + time_in_minutes2 * 60 * 1000);
  function time_remaining(endtime) { //Regner ut resterende tid vha. date funksjoner 
    var t = Date.parse(endtime) - Date.parse(new Date());
    var seconds = Math.floor((t / 1000) % 60);
    var minutes = Math.floor((t / 1000 / 60) % 60);
    var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
    var days = Math.floor(t / (1000 * 60 * 60 * 24));
    return { 'total': t, 'days': days, 'hours': hours, 'minutes': minutes, 'seconds': seconds };
  }

  var timeinterval2;
  var paused2 = false; // is the clock paused?
  var time_left2; // time left on the clock when paused
  function run_clock2(id, endtime) {
    var clock = document.getElementById(id);
    function update_clock() {
      var t = time_remaining(endtime);
      clock.setAttribute('style', 'text-align: center; font-size:38px; display:block;');
      if (t.seconds > 9) {
        clock.innerHTML = t.minutes + ':' + t.seconds;
      }
      else {
        clock.innerHTML = t.minutes + ':' + "0" + t.seconds;
      }
      if (t.total <= 0) { clearInterval(timeinterval2); }
    }
    update_clock(); // run function once at first to avoid delay
    timeinterval2 = setInterval(update_clock, 1000);
  }
  function start_clock2() { //starter klokken, vil helst ikke at den skal begynne automatisk

    run_clock2('clockdiv2', deadline2);

  }



  function pause_clock2() {
    //console.log(paused2);
    clearInterval(timeinterval2); // stop the clock
  }

  function gah2() { //Denne restarter klokka, og den har veldig lyst å hete gah, for den funker ellers ikke
    clearInterval(timeinterval2);
    current_time2 = Date.parse(new Date());
    deadline2 = new Date(current_time2 + time_in_minutes2 * 60 * 1000);
    run_clock2('clockdiv2', deadline2);

  }
  /*function setTime() {
    var time_in_minutes2 = prompt("How many minutes do you wish for your break to be? ");
    var current_time2 = Date.parse(new Date());
    var deadline2 = new Date(current_time2 + time_in_minutes2 * 60 * 1000);
  }*/


  // handle pause and resume button clicks
  document.getElementById('start2').onclick = start_clock2;
  document.getElementById('stop2').onclick = pause_clock2;
  document.getElementById('reset').onclick = gah2;
  //document.getElementById('timeSet').onclick = setTime;


</script>


{% endblock %}