<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% load static %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <!-- <link rel="stylesheet" href="static/myglobal.css"> -->
  <style>
    body {
      background-image: url("{% static 'img/test.avif' %}");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
    }

    h1 {
      text-align: center;
    }

    p {
      text-align: center;
    }

    iframe {
      margin: auto;
      display: block;
    }
  </style>
</head>

<body>
  <div class="container">
    <ul class="nav bg-dark">
      <li class="nav-item">
        <a class="nav-link link-light" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/teachers">TEACHERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/statistics">STATISTICS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/jaya">TIMER</a>
      </li>
      <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
          aria-expanded="false">
          RATS
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/RATS">RAT 1</a></li>
          <li><a class="dropdown-item" href="/RAT2">RAT 2</a></li>
          <li><a class="dropdown-item" href="/RAT3">RAT 3</a></li>
        </ul>
      </div>
    </ul>

    {% block content %}
    {% endblock %}
  </div>
</body>

</html>